{{ include('header.twig', {'title': 'Modifier l\'émission'}) }}

<main>
    <section class="container">
        <h1>Modifier l'émission : {{ emission.titre }}</h1>

        <form action="{{ path }}emission/update/{{ emission.id }}" method="post">
            <div class="form-group">
                <label for="titre">Titre de l'émission</label>
                <input type="text" id="titre" name="titre" value="{{ emission.titre }}" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description">{{ emission.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="numero_episode">Numéro de l'épisode</label>
                <input type="number" id="numero_episode" name="numero_episode" value="{{ emission.numero_episode }}">
            </div>

            <div class="form-group">
                <label for="lien_video">Lien Vidéo</label>
                <input type="text" id="lien_video" name="lien_video" value="{{ emission.lien_video }}">
            </div>

            <div class="form-group">
                <label for="id_serie">Série</label>
                <select id="id_serie" name="id_serie">
                    {% for serie in series %}
                        <option value="{{ serie.id }}" {% if serie.id == emission.id_serie %} selected {% endif %}>{{ serie.titre }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Mettre à jour</button>
        </form>
    </section>
</main>
