<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{path}}assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{path}}assets/scripts/main.js" defer></script>
    <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

</head>


<header>

<nav>
    <ul>
        <li><a href="{{path}}">Accueil</a></li>
        <li>
            <a href="#">Catégories</a>
            <ul>
                <li><a href="{{ path }}film">Films</a></li>

             <li><a href="{{ path }}serie">Séries</a></li>
             
                <li><a href="{{path}}pub">Publicités</a></li>
                <li><a href="{{path}}intermede/index">Intermèdes</a></li>
            </ul>
        </li>
      <li>
    <a href="{{path}}programmation/create">Programmation</a>
    <ul>
        <li><a href="{{path}}plageHoraire/create">Créer une Plage Horaire</a></li>
         <li><a href="{{path}}plageHoraire/index">Index des plages horaires</a></li>
        <!-- Ajoute ici d'autres liens si nécessaire -->
    </ul>
</li>


     
    </li>

        <li><a href="{{path}}programmation/index">Calendrier</a></li>
        <li><a href="{{path}}televiseur">Téléviseur</a></li>
    </ul>
   
   <img src="{{path}}assets/img/radio-quebec-logo-2.png" alt="">
</nav>
